<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean name="/firstController" class="edu.ye.controller.FirstController" 
		/> <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" 
		/> <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" 
		/> <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		/> -->

	<context:component-scan
		base-package="edu.stupaysys"></context:component-scan>
	<context:component-scan
		base-package="edu.stupaysys.*"></context:component-scan>


	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/resources/**"/>
			<bean class="edu.stupaysys.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>